/* @charset "utf-8";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.dis-bl { display: block; }
.dis-none { display: none; }
.dis-inbl { display: inline-block; }

.w768 { width: 768px; margin: 0 auto; }
.w100 { width: 100%; }
/* .h100 { height: 100%; } */
/*.box { box-sizing: border-box; padding: 0 20px; }

.pa0 { padding: 0; }
.ma0 { margin: 0; } */